.search-container {
    padding: 20px 50px;
    margin-right: 10px;
  }
  .search {
    border-radius: 100px;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 37px;
    z-index: 100;
  }
  
  .search-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .search-btn:hover, .search-btn:active {
    transform: scale(0.8);
  }
  
  .search-btn:hover {
    cursor: pointer;
  }
  
  .search-btn:focus {
    outline: none;
  }
  
  .search-input {
    font-size: 16.5px;
    font-weight: 550;
    border: none;
    background: transparent;
    margin-right: 10px;
    padding-left: 10px;
    display: none;
    padding-left: 10px;
    width: 197px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-open {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(255, 59, 65, 0.445);
  }
  
  .search-open .search-input {
    display: block;
  }