.fullscreen-background{
    background-image: url("C:\Users\hamda\Desktop\Sinima TJ latest-version\project\public\img\red-background-high-quality-free-photo.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: scale(1);
    transform-origin: center;
}
.content-wrapper {
    position: relative;
    z-index: 1;
}
.end-background {
    background-image: url("C:\Users\hamda\Desktop\Sinima TJ latest-version\project\public\img\DALL·E 2024-11-07 15.40.13 - A simple, dark cinematic background inspired by streaming platforms. The background should be minimalistic with dark gradients and slight hints of red.webp");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.start-background {
    background-image: url("C:\Users\hamda\Desktop\Sinima TJ latest-version\project\public\img\DALL·E 2024-11-17 19.31.02 - A cosmic space background designed in a cinematic style, inspired by streaming platforms. The scene features a dark starry sky with a blend of deep pu.webp");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1036px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.load{
    position: absolute;
    left: 46%;
    top: 380px;
    color: white;
}